section {
    margin: 4% 0%;
}
h1 {
    font-size: 32px;
    padding: 2%;
    text-align: center;
}
h2 {
    font-size: 20px;
    padding: 1%;
}
h4 {
    font-size: 20px;
}
/*recipe header*/
.recipe-img {
    height: 60vmin; 
    background-image: url(../images/img.jpg); 
    background-size: cover;
}
.recipe-author {
    text-align: right;
}

/*recipe body*/
.details {
    background-color: rgb(245, 245, 245);
    color: gray;
    width: 80%;
    text-align: center;
}
.details .row {
    padding-top: 3%;
}
.details h4 {
    font-size: 20px;
}
.recipe-content {
    margin: 5% auto;
    padding: 1px;
    width: 80%;
}
.ingredients {
    border: 1px solid rgb(128,0,0, 0.7);
    padding: 5%;
}
.instructions {
    padding: 5% 0%;
}
.tags {
    padding: 0% 10%;
}
.comments h3{
    padding: 2% 5%;
}
.comments .form-group {
    padding: 0% 10%;
}
@media only screen and (min-width: 768px) {
    /*recipe head: all components sized and positioned based on recipe-head div*/
    .recipe-head {
        position: relative;
        height: 65vh;
        width: 80vw;
    }
    .recipe-title {
        border: 2px solid maroon; 
        background-color: rgb(255, 255, 255); 
        max-width: 50%;
        position: absolute;
        top: 0%; 
        left: 5%;
        z-index: 3;
    }
    .recipe-img {
        height: 90%;
        width: 80%;
        position: absolute;
        top: 5%;
        left: 10%;
        z-index: 1;
    }
    .recipe-author {
        border: 1px solid maroon; 
        background-color: rgb(255, 255, 255); 
        max-width: 50%; 
        position: absolute; 
        right: 6%;
        bottom: 2%;
        z-index:2;
    }
    .instructions {
        padding-left: 5%;
    }
}