<div class="alert alert-success" role="alert">
  <h4 class="alert-heading">Recipe Created</h4>
  <p>Aww yeah, you have successfully created your recipe</p>
  <hr>
  <a href="/">Go Back Home</a>
</div>