section {
    margin: 4% 0%;
}
h1 {
    font-size: 32px;
    padding: 2%;
    text-align: center;
}
h2 {
    font-size: 20px;
    padding: 1%;
}
h4 {
    font-size: 20px;
}
/*recipe header*/
.recipe-img {
    height: 60vmin; 
    background-image: url(../images/img.jpg); 
}
.recipe-author {
    text-align: right;
}

/*recipe body*/
.details {
    background-color: rgb(245, 245, 245);
    color: gray;
    width: 80%;
    text-align: center;
}
.details .row {
    padding-top: 3%;
}
.details h4 {
    font-size: 20px;
}
.recipe-content {
    margin: 5% auto;
    padding: 1px;
    width: 80%;
}
.ingredients {
    border: 1px solid rgb(128,0,0, 0.7);
    padding: 5%;
}
.instructions {
    padding: 5% 0%;
}
.tags {
    padding: 0% 10%;
}
.description {
    margin: 2% 10%;
    padding: 1%;
    border: 1px solid rgb(128,0,0, 0.7);
}
.comments h3{
    padding: 2% 5%;
}
.comments .form-group {
    padding: 0% 10%;
}
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 100px; 
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    overflow: auto; 
    background-color: rgb(0,0,0); 
    background-color: rgba(0,0,0,0.4);
  }

  .modal-content {
    border: 3px solid #501616;
    background-color: #fefefe;
    margin: auto;
    padding: 15px;
    border: 1px solid #888;
    width: 300px;
    height: 100px;
  }
  
  .modal-content p {
      text-align: center;
  }
  
  .close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
    
  .close:hover,
  .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }
  .top-container {
    position: relative;
    text-align: center;
    padding: 50px;
    
  }

  .top-container img {
    object-fit: cover;
    width: 100%;
    height: 400px;
  }
  
  .top-left {
    position: absolute;
    top: 8px;
    left: 16px;
    border: 2px solid maroon; 
    background-color: rgb(255, 255, 255); 
  }
 
  /* Bottom right text */
  .bottom-right {
    position: absolute;
    bottom: 8px;
    right: 16px;
    border: 2px solid maroon; 
    background-color: rgb(255, 255, 255); 
  }

@media only screen and (min-width: 768px) {
    /*recipe head: all components sized and positioned based on recipe-head div*/
    .recipe-head {
        position: relative;
        height: 65vh;
        width: 80vw;
    }
    .instructions {
        padding-left: 5%;
    }
}